.Button-container{
    display:flex ;
    margin: 2rem  50% 2rem;
    
  }
  
  .button_main{
    padding: 1.5rem;
    border: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: left;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: gray;
  }
  
  .button_main:hover{
    background-color: orange;
  }
